.description{
    padding: 15px;
    border: 1px solid salmon;
    background: black;
    width: 30%;
    display: block;
    margin: auto;
    border-radius: 10px;
    color: white;
    margin-top: 30px;
}

.content{
    background: white;
    border: 1px solid purple;
    border-radius: 20px;
    padding: 20px;

}